{% if version_name %}**Version**: {{ version_name }}{% if version_code %} ({{ version_code }}){% endif %}{% if package_id %}
{% endif %}{% endif %}{% if package_id %}**ID**:  `{{ package_id }}`{% endif %}
