| Info          | Details           |
| ------------- | ----------------- |
| Version Name: | {{ version_name | pad(18) }}|
| Version Code: | {{ version_code | pad(18) }}|
| Package ID:   | {{ package_id | pad(18) }}|