🚀 Use this release with this command:

```shell
python -m pip install -U{% if prerelease %} --pre{% endif -%}
{%- if extra_index_url %} --extra-index-url {{ extra_index_url }}{% endif %} {{ name }}
```

View on PyPi: {{ pypi_url }}/project/{{ name }}/{% if prerelease %}{{ ref }}{% endif %}
