name: "Test"

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "18 18 * * 1,3,5"
  push:
    branches: ["**"]
    paths:
      - ".github/workflows/test.yaml"
      - "dist/**"
      - "src/**"
      - "package*.json"
      - "requirements*.txt"
      - "action.yml"

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Test Local Action"
        id: test
        uses: ./
        with:
          tags: "v1,v1.0"
          #delimiter: "--"
          #remove: true
          location: tail
          update: false
          type: actions

      - name: "Verify Outputs"
        env:
          BODY: ${{ steps.test.outputs.body }}
          NOTES: ${{ steps.test.outputs.notes }}
        run: |
          echo "body: '${{ env.BODY }}'"
          if [ -z '${{ env.BODY }}' ];then
            echo "No Output: body"
            exit 1
          fi
          echo "notes: '${{ env.NOTES }}'"
          if [ -z '${{ env.NOTES }}' ];then
            echo "No Output: notes"
            exit 1
          fi

      #- name: "Schedule Failure Notification"
      #  if: ${{ failure() && github.event_name == 'schedule' }}
      #  uses: sarisia/actions-status-discord@v1
      #  with:
      #    webhook: ${{ secrets.DISCORD_WEBHOOK }}
